{% extends "base.html" %}
{% block title %}Limesurvey Tool{% endblock %}
{% block header %}ERROR{% endblock %}
{% block content %}

<div class="row">
    <!-- Area Chart -->
    <div class="col-xl col-lg">
        <div class="card shadow mb-4">
            <div
                class="card-header py-3 d-flex flex-row justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">ERROR</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                  Something went wrong!
                  {{ error_message }}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
